.main_container {
  box-sizing: border-box;
  margin: auto;
  padding: 5px;
  border: 1px solid black;
  width: 320px;
  height: 200px;
  background-color: rgb(218, 207, 207);
  border-radius: 5px;
}

.age_main_container {
  display: flex;
  height: 15px;
}

#age_container {
  margin: 0px;
  margin-left: 20px;
  border: 1px solid blue;
  border-radius: 5px;
}

.age_main_container p {
  margin: 0px;
  margin-left: 10px;
  height: 20px;
}

.gender_main_container {
  display: flex;
  margin: 0px;
}

.gender_main_container label,
input,
p {
  margin: 0px;
  margin-right: 5px;
  margin-top: 20px;
  height: 20px;
}

.gender_main_container p {
  margin-right: 30px;
}

/* Height Container */
.Height_main_container {
  margin: 20px 0px;
}

#height_container {
  border: 1px solid blue;
  border-radius: 5px;
  margin: 0px;
}

/* Weight Container */
.Weight_main_container {
  margin: 20px 0px;
}

#weight_container {
  border: 1px solid blue;
  border-radius: 5px;
  margin: 0px;
}

.btn_container {
  margin: 10px;
}

.Result_Container {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 40px;
  left: 140px;
  width: 165px;
  align-items: center;
  border: 1.5px solid rgb(255, 72, 0);
  border-radius: 2px;
}

.result {
  background: green;
  color: white;
  width: 165px;
  text-align: center;
  font-size: 12px;
}

.result_display {
  width: 165px;
  text-align: center;
  font-size: 10px;
  background-color: greenyellow;
  color: blue;
}
.Errmsg {
  color: red;
}
